<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				<pattern>][%t] [%d{HH:mm:ss.SSS}] [%-5p] %logger{60}.%M\(%class{0}.java:%line\) - [%msg%throwable]%n</pattern>
			</Pattern>
		</layout>
	</appender>

	<logger name="lcc.uitests" level="debug" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="org.testcontainers" level="WARN" />
	<logger name="com.github.dockerjava" level="WARN" />

	<root level="warn">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>